<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateAuction</servlet-name>
    <servlet-class>CreateAuction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAuction</servlet-name>
    <url-pattern>/CreateAuction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPhoto</servlet-name>
    <servlet-class>GetPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPhoto</servlet-name>
    <url-pattern>/GetPhoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetBidDetails</servlet-name>
    <servlet-class>GetBidDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBidDetails</servlet-name>
    <url-pattern>/GetBidDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductBid</servlet-name>
    <servlet-class>ProductBid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductBid</servlet-name>
    <url-pattern>/ProductBid</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyBids</servlet-name>
    <servlet-class>MyBids</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyBids</servlet-name>
    <url-pattern>/MyBids</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyAuctions</servlet-name>
    <servlet-class>MyAuctions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAuctions</servlet-name>
    <url-pattern>/MyAuctions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateAuction</servlet-name>
    <servlet-class>UpdateAuction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAuction</servlet-name>
    <url-pattern>/UpdateAuction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeAuction</servlet-name>
    <servlet-class>ChangeAuction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeAuction</servlet-name>
    <url-pattern>/ChangeAuction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessWinner</servlet-name>
    <servlet-class>ProcessWinner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessWinner</servlet-name>
    <url-pattern>/ProcessWinner</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePrivilege</servlet-name>
    <servlet-class>ChangePrivilege</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePrivilege</servlet-name>
    <url-pattern>/ChangePrivilege</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateAddressDetails</servlet-name>
    <servlet-class>UpdateAddressDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAddressDetails</servlet-name>
    <url-pattern>/UpdateAddressDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatePhoneNumber</servlet-name>
    <servlet-class>UpdatePhoneNumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePhoneNumber</servlet-name>
    <url-pattern>/UpdatePhoneNumber</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBalance</servlet-name>
    <servlet-class>AddBalance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBalance</servlet-name>
    <url-pattern>/AddBalance</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCurrentDetails</servlet-name>
    <servlet-class>GetCurrentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCurrentDetails</servlet-name>
    <url-pattern>/GetCurrentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RateSeller</servlet-name>
    <servlet-class>RateSeller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RateSeller</servlet-name>
    <url-pattern>/RateSeller</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>